<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

<div class="container">
  <h1>Action cable, funcionou fdp?</h1>

  <div>
    <input type="checkbox" id="scales" name="scales"
           checked>
    <label for="scales">Funcionei</label>
  </div>

  <div>
    <input type="checkbox" id="horns" name="horns">
    <label for="horns">Não Funcionei</label>
  </div>
</div>

<% @requests.each do |request| %>
  <%= request %>
<% end %>

<% content_for :after_js do %>
  <script>
    App['trip_<%= @trip.id %>'] = App.cable.subscriptions.create(
      { channel: 'TripsChannel', trip_id: <%= @trip.id %> },
      { received: (data) => console.log(data) }
    )
  </script>
<% end %>