.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background: white
}
  .nav-link {
    border-bottom: 2px solid lightgrey
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category img{
  background-size: cover;
  background-position: center;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
}


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 2%;
}

.card-trip a > img {
  height: auto;
  width: 100%;
  border-radius: 2%;
  object-fit: cover;
}

.card-trip {
  .btn {
    padding: 0.575rem 0.575rem;
  }
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-info {
  position: absolute;
  right: 16px;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -30px;
  width: 40px;
}


.price {
  vertical-align: baseline;
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  text-align: center;
  width: 100%;
}

.icon-trash {
  text-decoration: none;
  width: 15px;
  position: absolute;
  right: 15px;
}

/* zoom long */

.image-hoveffect-zoomlong {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  .object-fit-imagediv, img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  &:after {
    background: rgba(0, 0, 0, 0.5);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
  }
  .object-fit-imagediv, img, &:after {
    transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out;
    -webkit-transition: all 1.5s ease-out;
  }
  &:before {
    transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out;
    -webkit-transition: all 1.5s ease-out;
    content: "\f002";
    color: rgba(255, 255, 255, 0.61);
    left: 50%;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 23px;
    font-weight: 600;
    opacity: 0;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &:hover {
    &:after, &:before {
      opacity: 1;
    }
    .object-fit-imagediv, img {
      -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4);
    }
  }
}

/*list-show   */

.list-values {
    list-style: none;
    margin: 0;
    padding: 10px;

}

.list-values li {
    background: rgb(229, 222, 222);
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 50rem;

}

.list-values-option{
  color: #0269D9;
  font-weight: bold;
}

.list-values li:last-child {
    margin-bottom: 0;
}


.list-values li:after {
    content: '';
    clear: both;
    display: none;
}

.list-values li > * {
    display: inline-block;
    padding: 9px 12px;
}

.list-values li .list-values-value-mask {
    background: #5881D9;
    float: right;
    position: relative;
    padding-left: 8px;
    width: 150px;

}

.list-values li .list-values-value-mask .list-values-value {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.list-values li .list-values-value-mask:before {
    border-bottom: 41px solid #5881D9;
    border-left: 15px solid transparent;
    content: '';
    position: absolute;
    right: 100%;
    top: 0;
}

.buttom {
  padding: 0.375rem 0.75rem;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none !important;
}
