#map {
// width: 100vw;
// height: calc(100vh - 66px);
}

#trips-new {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #FFF;
  padding-top: 2vh;
  padding-bottom: 3vh;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7F7F7F !important;
  font-weight: lighter !important;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #7F7F7F !important;
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #7F7F7F !important;
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  color: #7F7F7F !important;
  text-align: center;
}