<p>Olá, <%= @resource.email %>!</p>

<p>Seu cadastro foi bloqueado devido a quatidade excessiva de acessos sem sucesso.</p>

<p>Clique no link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
